body{
	font-family: $font;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	color: $black;
	padding-top: 75px;
	@include res(xl){
		padding-top: 65px;
		font-size: 14px;
		line-height: 1.4;
	}
}

a{
	color: inherit;
	text-decoration: none;
}


.extra-big{
	font-size: 40px;
	font-family: $font-title;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	@include res(xl){
		font-size: 24px;
	}
	@include res(l){
		font-size: 22px;
		line-height: 1.2;
	}
	@include res(xs){
		font-size: 20px;
	}
}

h1,.h1{
	font-size: 28px;
	font-family: $font-title;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	@include note{
		font-size: 24px;
	}
	@include res(xl){
		font-size: 24px;
	}
	@include res(l){
		font-size: 22px;
		line-height: 1.2;
	}
	@include res(xs){
		font-size: 20px;
	}
}

h2,.h2{
	font-size: 24px;
	font-family: $font-title;
	line-height: 1.1;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	@include res(xl){
		font-size: 20px;
	}
}

h3,.h3{
	font-size: 24px;
	line-height: 1.2;
	margin: 0;
	@include res(xl){
		font-size: 20px;
	}
}

h4,.h4{
	font-size: 20px;
	@include res(xl){
		font-size: 16px;
	}
}

h5,.h5{
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	@include res(xl){
		font-size: 16px;
	}
}

.text-gray{
	color: $gray-text;
}

.text-small{
	font-size: 14px;
	@include res(xl){
		font-size: 12px;
	}
}

.text-big{
	font-size: 18px;
	@include res(xl){
		font-size: 16px;
	}
}

.note-block{
	margin-bottom: 10px;
	background: $gray-bg;
	padding: 5px 10px;
}


.user-content{
	p,ul,ol,table,img{
		margin-bottom: 20px;
		@include res(xl){
			margin-bottom: 15px;
		}
	}

	h1,.h1,.h2,.h2,h3,.h3,h4,.h4,h5,.h5{
		margin-bottom: 5px;
	}

	img{
		max-width: 100%;
		height: auto;
	}

	ul,ol{
		padding-left: 25px;
	}

	ul{
		list-style: none;

		li{
			position: relative;

			&:before{
				content: '- ';
			}
		}
	}

	ol{
		list-style: none;
		counter-reset: ol;

		li{
			position: relative;
			counter-increment: ol;

			&:before{
				content: counter(ol)') ';
			}
		}
	}
}


.side-img{
	display: flex;
	align-items: flex-start;

	img{
		flex-shrink: 0;
		width: 155px;
		margin-right: 25px;
		@include res(xl){
			width: 120px;
			margin-right: 20px;
		}
		@include res(s){
			width: 100px;
			margin-right: 15px;
		}
		@include res(xs){
			width: 75px;
			margin-right: 10px;
		}
	}
}