.s-product{
	padding: 10px 0 60px 0;
}


//product-sliders
.product-sliders{
	display: flex;
	@include res(s){
		margin-bottom: 20px;
	}

	&__thumbs{
		width: 130px;
		flex-shrink: 0;
		margin-right: 40px;
		@include res(xl){
			width: 100px;
		}
		@include res(l){
			width: 65px;
			margin-right: 20px;
		}
		@include res(xs){
			width: 50px;
			margin-right: 10px;
		}
	}

	&__full{
		width: calc(100% - 130px - 40px);
		@include res(xl){
			width: calc(100% - 100px - 40px);
		}
		@include res(l){
			width: calc(100% - 65px - 20px);
		}
		@include res(xs){
			width: calc(100% - 50px - 10px);
		}
	}
}

.product-slider-small{

	&__item{
		width: 100%;
		margin-bottom: 10px;
		border: 1px solid transparent;
		transition: border 0.3s ease;
		cursor: pointer;

		img{
			display: block;
			width: 100%;
			height: auto;
		}

		&:focus{
			outline: none;
		}

		&:hover{
			border: 1px solid $gray-border;
		}

		&.slick-current{
			border: 1px solid $black;
		}
	}

}

.product-slider-big{

	&__item{
		width: 100%;

		img{
			display: block;
			width: 100%;
			height: auto;
		}

		&:focus{
			outline: none;
		}
	}
}
//product-sliders


//product-details
.product-details{
	padding-left: 40px;
	@include res(xl){
		padding-left: 10px;
	}
	@include res(xs){
		padding-left: 0;
	}

	&__title{
		margin-bottom: 8px;
	}

	&__art{
		margin-bottom: 18px;
	}

	&__prices{
		font-size: 24px;
		margin-bottom: 18px;
		@include res(xl){
			font-size: 20px;
		}

		span{
			margin-right: 10px;
			white-space: nowrap;
		}
	}

	&__colors{
		margin-bottom: 30px;
		.text-gray{
			margin-bottom: 10px;
		}
	}

	&__actions{
		margin-bottom: 30px;

		.btn{
			border-color: $gray-border;
			font-size: 16px;
			text-transform: uppercase;
			height: 40px;
			padding-left: 20px;
			padding-right: 20px;
			@include res(xl){
				font-size: 14px;
				height: 30px;
				padding-left: 15px;
				padding-right: 15px;
			}

			&:hover{
				border-color: $black;
			}
		}
	}

	&__descr{
		font-size: 14px;
		margin-bottom: 20px;
		@include res(xl){
			font-size: 12px;
		}
		p{
			margin-bottom: 4px;
		}
	}

	&__params{
		color: $gray-text;
		font-size: 14px;
		margin-bottom: 20px;
		@include res(xl){
			font-size: 12px;
		}

		p{
			margin-bottom: 4px;
		}
	}

	&__collection{
		display: inline-block;
		color: #FFF;
		background: $black;
		font-size: 14px;
		padding: 3px 8px;
		text-transform: uppercase;
		@include res(xl){
			font-size: 12px;
		}
	}
}
//product-details


//s-related
.related-nav{
	display: flex;

	button{
		flex: 1;
		background: none;
		border: none;
		text-transform: uppercase;
		padding: 14px;
		cursor: pointer;
		border-bottom: 1px solid $gray-border;
		color: $gray-text;
		transition: all 0.3s ease;
		font-size: 18px;
		@include res(xl){
			font-size: 14px;
		}

		&:hover{
			color: $black;
		}

		&.active{
			color: $black;
			border-color: $black
		}

		&:focus{
			outline: none;
		}
	}
}

.related-tab{
	display: none;
	padding-bottom: 20px;

	&.active{
		display: block;
	}
}

.related-slider{
	padding: 0 20px;

	.slick-list{
		padding-bottom: 120px;
		@include res(l){

			padding-bottom: 0;
		}
	}

	&__item{
		padding: 5px;

		a{
			&:focus{
				outline: none;
			}
		}

		&:focus{
			outline: none;
		}
	}
}
//s-related