//s-home-slider
.s-home-slider{
	height: 700px;
	overflow: hidden;
	@include note{
		height: 460px;
	}
	@include res(xl){
		height: 460px;
	}
	@include res(l){
		height: 420px;
	}
	@include res(s){
		height: 330px;
	}
	@include res(xs){
		height: 240px;
	}
}

.home-slide{
	height: 700px;
	background-color: $black;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	color: #FFF;
	overflow: hidden;
	position: relative;
	@include note{
		height: 460px;
	}
	@include res(xl){
		height: 460px;
	}
	@include res(l){
		height: 420px;
	}
	@include res(s){
		height: 330px;
	}
	@include res(xs){
		height: 240px;
	}

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.1);
		z-index: 1;
		opacity: 0;
		@include res(s){
			opacity: 1;
		}
	}

	&__content{
		position: relative;
		z-index: 2;
		width: 50%;
		text-align: center;
		padding-top: 105px;
		@include res(xl){
			padding-top: 75px;
		}
		@include res(s){
			padding-top: 50px;
			width: 100%;
		}
	}

	&__title{
		font-size: 48px;
		font-weight: normal;
		font-family: $font-title;
		line-height: 1.1;
		margin-bottom: 0.2em;
		text-transform: uppercase;
		@include note{
			font-size: 40px;
		}
		@include res(xl){
			font-size: 40px;
		}
		@include res(l){
			font-size: 36px;
		}
		@include res(s){
			font-size: 30px;
		}
		@include res(xs){
			font-size: 24px;
		}
	}

	a.home-slide__title{
		@extend %link-hover-color;
	}
}


.home-slide__video{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;

	video{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
	}
}


.slick-dots{
	position: absolute;
	bottom: 12px;
	text-align: center;
	list-style: none;
	width: 100%;

	li{
		display: inline-block;
		position: relative;
		height: 14px;
		width: 14px;
		border-radius: 50%;
		border: 1px solid #FFF;
		cursor: pointer;
		margin: 0 12px;
		transition: all 0.3s ease;
		@include res(xs){
			margin: 0 8px;
		}

		&:after{
			content: '';
			width: 8px;
			height: 8px;
			position: absolute;
			border-radius: 50%;
			background: #FFF;
			top: 2px;
			left: 2px;
			opacity: 0;
			transform: scale(0.5);
			transition: all 0.3s ease;
		}

		button{
			display: none;
		}

		&.slick-active{
			&:after{
				opacity: 1;
				transform: none;
			}
		}
	}
}
//s-home-slider


//s-home-second
.s-home-second{
	padding: 40px 0 100px 0;
}

.second-slider{
	width: 1670px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;

	.slick-dots{
		bottom: -40px;

		li{
			width: 80px;
			height: 2px;
			border-radius: 0;
			border: none;
			background: #d2d2d2;
			@include res(s){
				width: 40px;
			}

			&:after{
				display: none;
			}
			
			&.slick-active{
				background: #000;
			}
		}
	}
}

.second-slider__slide{
	display: block;
	width: 100%;
	position: relative;

	&:focus{
		outline: none;
	}

	img{
		display: block;
		width: 100%;
		height: auto;
		position: relative;
		z-index: 1;
	}

	.home-slide__video{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		object-fit: cover;

		video{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 100%;
		}
	}
}
//s-home-second


//s-home-promos
.s-home-promos{
	padding: 70px 0;
	@include res(xl){
		padding: 60px 0;
	}
	@include res(l){
		padding: 40px 0;
	}
}


.promo-row{
	display: flex;
	justify-content: center;
	@include res(s){
		flex-direction: column;
		align-items: center;
	}

	&__big{
		width: 55.1%;
		@include note{
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			width: 50%;
		}
		@include res(l){
			width: 50%;
		}
		@include res(s){
			width: auto;
		}
	}

	&__small{
		width: 44.9%;
		padding: 25px;
		display: flex;
		justify-content: flex-end;
		@include note{
			width: 50%;
			justify-content: center;
		}
		@include res(xl){
			padding: 20px;
		}
		@include res(l){
			display: block;
			text-align: center;
			width: 50%;
			padding: 0;
		}
		@include res(s){
			width: auto;
		}
	}
}


.promo-in{
	position: relative;
	text-align: center;
	background: $black;
	@include note{
		width: 565px;
	}
	@include res(s){
		max-width: 450px;
		margin-bottom: 20px;
	}

	img{
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		z-index: 1;
	}

	&__content{
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0 10px 50px;
		text-align: center;
		color: #FFF;
		@include res(xl){
			padding: 0 10px 40px;
		}
		@include res(s){
			padding: 0 10px 20px;
		}

		.h1{
			margin-bottom: 10px;
		}

		.btn{
			margin-top: 18px;
		}
	}
}


.promo{
	max-width: 450px;
	@include note{
		width: 370px;
	}
	@include res(xl){
		max-width: 360px;
	}
	@include res(l){
		max-width: 100%;
	}
	@include res(s){
		max-width: 450px;
	}

	img{
		display: block;
		width: 100%;
		height: auto;
		@include res(l){
			width: 70%;
			margin-left: auto;
			margin-right: auto;
		}
		@include res(s){
			width: 100%;
		}
	}

	&__content{
		text-align: center;
		padding-top: 50px;
		@include res(xl){
			padding-top: 25px;
		}
		@include res(s){
			padding-top: 15px;
		}

		.h1{
			margin-bottom: 10px;
		}

		.btn{
			margin-top: 18px;
		}
	}
}
//s-home-promos


//s-home-full-promos
.s-home-full-promos{
	padding: 70px 0;
	@include res(xl){
		padding: 60px 0;
	}
	@include res(l){
		padding: 40px 0;
	}
}


.promo-full{
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	@include res(xl){
		margin-bottom: 20px;
	}
	@include res(s){
		margin-bottom: 40px;
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
		flex-direction: column;
	}

	&:last-child{
		margin-bottom: 0;
	}

	&:nth-child(2n){
		.promo-full__img{
			@include note{
				display: flex;
				justify-content: flex-end;
				align-items: flex-start;
				padding-right: 15px;
			}
		}
	}

	&__img{
		width: 55.1%;
		position: relative;
		@include note{
			width: 50%;
			padding-left: 15px;
		}
		@include res(l){
			width: 45%;
		}
		@include res(s){
			width: 100%;
			order: 1;
		}

		img{
			display: block;
			width: 100%;
			height: auto;
			@include note{
				max-width: 530px;
			}
		}

		video{
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include res(l){
				display: none;
			}
		}
	}

	&__content{
		width: 44.9%;
		padding: 25px;
		text-align: center;
		@include note{
			width: 50%;
		}
		@include res(l){
			width: 55%;
		}
		@include res(s){
			width: 100%;
			order: 2;
			padding: 15px 0 0 0;
		}

		.extra-big{
			margin-bottom: 10px;
		}
	}

	&__actions{
		margin-top: 31px;
		@include res(s){
			margin-top: 15px;
		}

		.btn{
			margin: 4px 10px;
			width: 150px;
			@include res(xl){
				width: 120px;
			}
			@include res(xs){
				margin: 4px 4px;
			}
		}
	}
}
//s-home-full-promos


//s-home-intros
.s-home-intros{
	padding: 95px 0;
	@include note{
		padding: 70px 0;
	}
	@include res(xl){
		padding: 80px 0;
	}
	@include res(s){
		padding: 40px 0 0 0;
	}
}

.home-intro{
	text-align: center;
	@include res(s){
		max-width: 375px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}

	&__img{
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 30px;
		@include res(xl){
			margin-bottom: 25px;
		}
		@include res(s){
			margin-bottom: 15px;
		}
	}

	.h2{
		margin-bottom: 15px;
		@include res(s){
			margin-bottom: 10px;
		}
	}

	&__descr{
		padding: 0 10px;
		line-height: 1.3;
		margin-bottom: 25px;
		@include res(xl){
			margin-bottom: 15px;
		}
	}

	&--insta{
		.home-intro__img{
			margin-bottom: 23px;
		}
	}

	.home-itro__instalogo{
		transform: translate3d(0,0,0);
		@include res(xl){
			width: 147px;
		}
	}
}
//s-home-intros


//s-home-new
.s-home-new{
	padding-bottom: 100px;
	@include res(xl){
		padding-bottom: 80px;
	}
	@include res(s){
		padding-bottom: 40px;
	}

	.product-preview{
		@include note{
			width: 320px;
			margin-left: auto;
			margin-right: auto;
		}
		@include res(s){
			margin: 0 auto;
			max-width: 320px;
		}
	}
}


.line-title{
	display: flex;
	align-items: center;

	&:before,&:after{
		content: "";
		width: 100%;
		flex: 1;
		border-top: 1px solid $black;
	}

	div{
		margin: 0 40px;
		flex-shrink: 1;
		text-align: center;
		max-width: 90%;
		@include res(xl){
			margin: 0 25px;
		}
		@include res(s){
			margin: 0 10px;
		}
	}
}
//s-home-new