@mixin res($breakpoint) {
	@media #{inspect(map-get($breakpoints, $breakpoint))} {
		@content;
	}
}

@mixin note{
	@media (min-width: 1291px) and (max-width: 1440px) {
		@content;
	}
}


@mixin placeholder {
	$placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
	@each $placeholder in $placeholders {
		&:#{$placeholder}-placeholder {
			@content;
		}
	}
}


/// Иоконка закрытия модальных окон в виде креста.
$full_cross_size: 28px;
$cross_size: 18px;
$cross_weight: 2px;
$cross_color: $black;
$cross-color--hover: $red;
$cross-bg-color: transparent;
$cross-bg-color--hover: transparent;

@mixin cross() {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	transition: all 0.3s ease;
	background-color: $cross-bg-color;
	width: $full_cross_size;
	height: $full_cross_size;
	border-radius: 50%;
	border: none;
	@include res(s){
		top: 5px;
		right: 5px;
	}

	&:hover{
		background-color: $cross-bg-color--hover;
	}

	&:before,&:after{
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -$cross_weight/2;
		margin-left: -$cross_size/2;
		width: $cross_size;
		height: $cross_weight;
		background: $cross_color;
		transition: all 0.3s ease;
		border-radius: 0;
	}

	&:hover:before,&:hover:after{
		background-color: $cross-color--hover;
	}

	&:before{
		transform: rotate(-45deg);
	}

	&:after{
		transform: rotate(45deg);
	}

	&:focus{
		outline: none;
		&:before,&:after{
			outline: none;
		}
	}
}