.s-breadcrumbs{
	padding: 15px 0 20px 0;
	@include res(xl){
		padding: 15px 0;
	}

	a{
		position: relative;
		color: $gray-text;
		transition: color 0.3s ease;
		margin-right: 8px;

		&:hover{
			color: $black;

			&:after{
				color: $gray-text;
			}
		}

		&:after{
			content: '|';
			padding-left: 12px;
			pointer-events: none;
			color: $gray-text !important;
		}

		&:last-child{
			&:after{
				display: none;
			}
		}
	}
}