.btn{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 8px 30px;
	font-size: 18px;
	font-family: $font;
	line-height: 1.3;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.3s ease;
	user-select: none;
	background-color: transparent;
	border: 1px solid $black;
	@include res(xl){
		font-size: 16px;
		padding: 4px 24px;
	}

	&:focus{
		outline: none;
		background: $black;
		color: #FFF;
	}

	&:hover{
		background: $black;
		color: #FFF;
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.btn-center{
	text-align: center;
}


.btn--mini{
	font-size: 14px;
	text-transform: uppercase;
	padding: 5px 25px;
	@include res(xl){
		font-size: 12px;
		padding: 4px 20px;
	}
}

.btn--white{
	border: 1px solid #FFF;
	color: #FFF;

	&:focus{
		border: 1px solid $black;
	}

	&:hover{
		border: 1px solid $black;
	}
}

.btn--black{
	border: 1px solid $black;
	background: $black;
	color: #FFF;

	&:focus{
		border: 1px solid $black;
	}

	&:hover{
		background: #FFF;
		color: $black;
	}
}