label{cursor: pointer;}

.text-input{
	display: inline-block;
	font-family: $font;
	font-size: 16px;
	line-height: 1.3;
	-webkit-appearance: none;
	border-radius: 0;
	border: 1px solid $gray-border;
	padding: 9px 10px;
	overflow: visible;
	transition: all 0.3s ease;

	@include placeholder {
		font-size: 13px;
		color: $gray-text;
		opacity: 1;
		transition: all 0.3s ease;
	}

	&:focus{
		outline: none;
		border: 1px solid $black;
	}

	&.error{
		background: #ffa39e;
		border: 1px solid $red;
	}
}


//form-group
.form-group{
	display: block;
	position: relative;
	text-align: left;
	margin-bottom: 25px;
	@include res(xl){
		margin-bottom: 15px;
	}

	&__label{
		display: block;
		margin-bottom: 4px;
	}

	.text-input{
		display: block;
		width: 100%;
	}
}
//form-group


//style-checkbox
.style-checkbox{
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.2;

	input{
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;

		&:checked + span{
			&:after{
				opacity: 1;
			}
		}

		&.error + span{
			&:before{
				border-color: #cc0000;
			}
		}
	}

	span{
		display: block;
		position: relative;
		padding-left: 20px;

		&:before{
			content: '';
			width: 12px;
			height: 12px;
			border: 1px solid $gray-interface;
			border-radius: 6px;
			position: absolute;
			left: 0;
			top: 2px;
			transition: all 0.3s ease;
		}

		&:after{
			content: '';
			width: 8px;
			height: 8px;
			background: $gray-interface;
			border-radius: 4px;
			position: absolute;
			left: 2px;
			top: 4px;
			z-index: 2;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		a{
			color: #353434;
		}
	}

	&--disabled{
		pointer-events: none;
		opacity: 0.4;
	}

	&--black{
		span{
			&:before{
				border: 1px solid $black;
			}
			&:after{
				background: $black;
			}
		}
	}
}
//style-checkbox


//error-block
.error-block{
	font-size: 12px;
	text-align: left;
	background: #ffc4c4;
	padding: 5px 15px;
	margin-bottom: 5px;
}
//error-block


//vertical-form
.vertical-form{
	.style-checkbox{
		margin-bottom: 25px;
		@include res(xl){
			margin-bottom: 15px;
		}
	}
}
//vertical-form


.form-note{
	font-size: 11px;
}