.s-mob-panel{
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	bottom: 0;
	width: 360px;
	max-width: 100%;
	padding: 60px 0 40px 0;
	overflow: auto;
	transform: translate3d(-360px,0,0);
	transition: transform 0.3s ease;
	pointer-events: none;
	background: $black;
	color: #FFF;

	&.active{
		pointer-events: all;
		transform: none;
	}

	.cities-chooser{
		display: flex;
		height: auto;
		margin-bottom: 10px;
		padding-left: 15px;
		margin-right: 0;
	}

	.top-phone{
		display: block;
		margin-bottom: 5px;
		padding-bottom: 15px;
		padding-left: 15px;
		border-bottom: 1px dashed $gray-interface;
		margin-right: 0;
	}
}



//mob-menu
.mob-menu{
	list-style: none;
	padding-bottom: 5px;
	border-bottom: 1px dashed $gray-interface;
	margin-bottom: 15px;

	&>li{
		display: block;
		position: relative;

		&>a{
			display: block;
			font-size: 16px;
			line-height: 1;
			padding: 12px 15px;

			&.active{
				color: $gray-text;
				//font-weight: bold;
			}

			&.menu-red{
				color: $red;
			}
		}

		figure{
			position: absolute;
			right: 0;
			top: 0;
			height: 40px;
			width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:before,&:after{
				content: '';
				width: 14px;
				height: 2px;
				background: #FFF;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				transition: all 0.3s ease;
			}

			&:before{
				
			}

			&:after{
				transform: rotate(90deg);
			}

			&.active{
				background: #FFF;

				&:after,&:before{
					background: $black;
					transform: rotate(-180deg);
				}

				&:after{
					opacity: 0;
					background: $black;
				}
			}
		}
	}
}

.mob-menu-sub{
	display: none;
	list-style: none;
	background: #2b2b2b;
	padding: 8px 0;

	li{
		display: block;

		a{
			display: block;
			padding: 8px 15px 8px 30px;
			font-size: 14px;

			&.active{
				color: $red;
			}
		}
	}
}
//mob-menu


//mob-menu-static
.mob-menu-static{
	padding: 0 15px;
	margin-bottom: 20px;

	&__title{
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 5px;
	}

	ul{
		list-style: none;

		li{
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
			margin-bottom: 6px;

			a{
				display: block;
				font-size: 14px;

				&.active{
					color: $gray-text;
				}
			}
		}
	}
}
//mob-menu-static


.burger{
	width: 50px;
	height: 40px;
	position: relative;
	align-items: center;
	justify-content: center;
	display: none;
	cursor: pointer;
	margin-left: -15px;
	@include res(l){
		display: flex;
	}

	figure{
		width: 25px;
		height: 2px;
		background: #FFF;
		position: relative;
		transition: transform 0.4s ease,background 0.2s ease 0.1s;

		&:before,&:after{
			content: '';
			width: 25px;
			height: 2px;
			background: #FFF;
			position: absolute;
			transition: transform 0.4s ease;
		}

		&:before{
			transform: rotate(0) translate3d(0,-6px,0);
		}

		&:after{
			transform: rotate(0) translate3d(0,6px,0);
		}
	}

	&.active{
		background: $gray-interface;

		figure{
			background: transparent;
			transform: rotate(-180deg);
			transition: transform 0.4s ease,background 0.1s ease;
			&:before{
				transform: rotate(-45deg) translate3d(0,0,0) scaleX(0.7);
			}
			&:after{
				transform: rotate(45deg) translate3d(0,0,0) scaleX(0.7);
			}
		}
	}
}